body {
  background: #1e555c;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 20vh;
}
.conterol-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 500vh;
}
.length-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icons{
  cursor: pointer;
}
.main-title, h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.timer {
  border: 7px solid #13353a;
  margin: 20px auto 10px auto;
  width: 270px;
  height: 160px;
  border-radius: 50px;
  position: relative;
}

.icons{
  font-size: 2rem;
}

.author {
  text-align: center;
  font-family: Share Tech Mono, sans;
  margin-top: 15px;
  font-size: 14px;
  color: #a50d0d;
}

.author a {
  text-decoration: none;
  color: #00264d;
  line-height: 26px;
}